<h1>PRODUCTOS</h1>
<hr>
<div class="container d-flex flex-wrap justify-content-center">
    {{#each products}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <hr>
            <p class="card-text">{{description}}</p>
            <hr>
            <p class="card-text">Precio : {{price}}</p>
            <hr>
            <a href="#" class="btn btn-primary">comprar</a>
        </div>
    </div>
    {{/each}}
</div>